[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = git@github.com:unrevre/ale.git
[submodule ".vim/bundle/targets.vim"]
	path = .vim/bundle/targets.vim
	url = git@github.com:wellle/targets.vim.git
[submodule ".vim/bundle/vim-after-object"]
	path = .vim/bundle/vim-after-object
	url = git@github.com:junegunn/vim-after-object.git
[submodule ".vim/bundle/vimagit"]
	path = .vim/bundle/vimagit
	url = git@github.com:unrevre/vimagit.git
[submodule ".vim/bundle/vim-bufkill"]
	path = .vim/bundle/vim-bufkill
	url = git@github.com:qpkorr/vim-bufkill.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/bundle/vim-cool"]
	path = .vim/bundle/vim-cool
	url = git@github.com:romainl/vim-cool.git
[submodule ".vim/bundle/vim-easy-align"]
	path = .vim/bundle/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule ".vim/bundle/vim-exchange"]
	path = .vim/bundle/vim-exchange
	url = git@github.com:tommcdo/vim-exchange.git
[submodule ".vim/bundle/vim-matchup"]
	path = .vim/bundle/vim-matchup
	url = git@github.com:andymass/vim-matchup.git
[submodule ".vim/bundle/vim-peekaboo"]
	path = .vim/bundle/vim-peekaboo
	url = git@github.com:junegunn/vim-peekaboo.git
[submodule ".vim/bundle/vim-pencil"]
	path = .vim/bundle/vim-pencil
	url = git@github.com:preservim/vim-pencil.git
[submodule ".vim/bundle/vim-qf"]
	path = .vim/bundle/vim-qf
	url = git@github.com:romainl/vim-qf.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/vim-tradewinds"]
	path = .vim/bundle/vim-tradewinds
	url = git@github.com:andymass/vim-tradewinds.git
[submodule ".vim/bundle/vim-usnip"]
	path = .vim/bundle/vim-usnip
	url = git@github.com:unrevre/vim-usnip.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = git@github.com:unrevre/vim-vinegar.git
